body {
  background: #ececec;
}

.text {
  font-weight: bold;
  font-size: 32px;
}

.modal {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-radius: 20px;
  min-width: 350px;
  max-height: 200px;
  flex-direction: column;
  flex-wrap: nowrap;
}

.alert {
  display: block;
  background: #fff67b;
  padding: 4px;
  border-radius: 10px;
}
